{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Qui sommes-nous{% endblock %}
{% block body %}
<div class="main-container container">
<h2>Adopte une ruche normande en quelques mots :</h2>
<ul>
<li>Nous sommes une PME indépendante créée par Xavier<strong><br />
</strong></li>
<li>Nous sommes nés en France</li>
<li>Nous sommes une équipe jeune et dynamique </li>
</ul>
<h3>Quelques chiffres :</h3>
<ul>
<li>2 ruches installées</li>
<li>1 région</li>
<li>2 Communes</li>
</ul>
<hr>
<h2>Ils nous ont fait confiance :</h2>
<p> La mairie de [...] </p>
<p> L'entreprise [...] </p>
</div>
{% endblock %}
