<p>
  La ruche reste chez l’apiculteur, garantissant au parrain un
environnement propice au développement des abeilles et à la
production du miel (fleurs/plantes à disposition,
ensoleillement, calme, etc.). Suite à votre donation (voir grille
tarifaire à la fin), une ou plusieurs ruches vous sont
spécifiquement attribuée(s) avec une garantie retour de 10
pots pots de 250g par an.
<br>
Laissez-nous nous occupez des vos ruches et abeilles, nous
récoltons le miel et nous le mettons en pot directement dans
la miellerie à Cantiers (27) avec des étiquettes
personnalisées établies ensemble.
<br>
La miellerie de Cantiers vous propose également pour 10
euros par personne, de venir observer la vie de vos abeilles,
puis de déguster et mettre en pot votre miel pendant une
demie journée.
<br>
Pour suivre l’avancée de la production ainsi que la vie de vos
abeilles et de votre ruche, six newsletters seront envoyées
durant l’année avec des photos et des anecdotes par notre
apiculteur.
</p>
