<p>Ici, l’apiculteur réalisera également une étude
d’implantation pour les ruches comme dans la formule n°2.
Se tiendra aussi une présentation, dans vos locaux, du
concept de l’apiculture et de la vie d’une ruche au quotidien,
avec les enjeux environnementaux actuels
Ensuite, les ruches seront installées peuplées directement
chez vous (que vous soyez un particulier ou une entreprise)
et l’apiculteur prendra en charge toutes les démarches
administratives liées à cette installation (déclaration,
assurance, etc.).
<br>
L’entretien tout au long de l’année est réalisé par l’apiculteur
qui se déplace chez vous pour s’assurer du bien être de ses
abeilles et du bon déroulement de la production. Il réalisera
pour se faire 10 visites de contrôle dans l’année, l’une d’entre
elle sera partagée avec 5 membres du personnel curieux de
s’essayer à l’apiculture (prêt de matériel, photo souvenir,
manipulation, etc.)
<br>
La récolte se fera aussi par l’apiculteur et la mise en pot du
miel se fera dans sa miellerie. Les pots ainsi produits vous
seront ensuite envoyés (environ 10 pots de 250g), étiquetés
aux couleurs de votre entreprise, comme défini dans un cahier
des charges en début de projet.
<br>
La miellerie de Cantiers vous propose également de venir
observer la vie de vos abeilles, puis de déguster et mettre en
pot votre miel pendant une demie journée. (Maximum 50
personnes)
<hr>
<i>Prix de la prestation : 1000€ à l’année, puis 100€ par ruche
supplémentaire.</i>
</p>
