<p>Ici, l’apiculteur réalisera avant tout une étude d’implantation
pour les ruches, présentant les avantages que vous tirerez de
la présence de ruche dans votre établissement, et soulignant
aussi les avantages offerts par votre environnement pour les
abeilles.
<br>
Ensuite, les ruches seront installées peuplées directement
chez vous (que vous soyez un particulier ou une entreprise)
et l’apiculteur prendra en charge toutes les démarches
administratives liées à cette installation (déclaration,
assurance, etc.).
<br>
L’entretien tout au long de l’année est réalisé par l’apiculteur
qui se déplace chez vous pour s’assurer du bien être de ses
abeilles et du bon déroulement de la production. Il réalisera
pour se faire 10 visites dans l’année.
<br>
La récolte se fera aussi par l’apiculteur et la mise en pot du
miel se fera dans sa miellerie. Les pots ainsi produits vous
seront ensuite envoyés (environ 10 pots de 250g), étiquetés
aux couleurs de votre entreprise, comme défini dans un cahier
des charges en début de projet.
<br>
La miellerie de Cantiers vous propose également pour 10
euros par personne, de venir observer la vie de vos abeilles,
puis de déguster et mettre en pot votre miel pendant une
demie journée.
<hr>
<i>Prix de la prestation : 500€ à l’année, puis 100€ par ruche
supplémentaire</i></p>
